---
http_interactions:
- request:
    method: get
    uri: https://ma.cache.headbang.re/artist/view/id/60908
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<title>Alberto Rionda - Encyclopaedia
        Metallum: The Metal Archives</title>\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=UTF-8\" />\n<meta content=\"width=device-width, initial-scale=1\"
        name=\"viewport\" />\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/min/index.php?g=css\"
        />\n<script type=\"93dd3ab310bc2aad9a4a9924-text/javascript\" src=\"/min/index.php?g=js\"></script>\n<script
        type=\"93dd3ab310bc2aad9a4a9924-text/javascript\">\r\n\t\t\tvar URL_SITE\t=
        'https://www.metal-archives.com/';\r\n\t\t\tvar URL_IMAGES\t= 'https://www.metal-archives.com/images/';\r\n\t\t\tvar
        URL_CSS\t\t= 'https://www.metal-archives.com/css/';\r\n\t\t\tvar csrfToken\t=
        '';\r\n\r\n\t\t\t$(document).ready(function() {\r\n\t\t\t\ttoggleFixedPositioning(1280,
        600);\r\n\t\t\t\texecuteOnAllPages();\r\n\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t\t});\r\n\r\n\r\n\t\t</script>\n<noscript>\r\n\t\t\t<style
        type=\"text/css\">\r\n\t\t\t\t.no-js { display: block !important; }\r\n\t\t\t</style>\r\n\t\t</noscript>\n<!--[if
        lt IE 8]>\r\n\t\t\t<script src=\"http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js\"></script>\r\n\t\t\t
        <link rel=\"stylesheet\" type=\"text/css\" href=\"https://www.metal-archives.com/css/default/oldie.css\"
        />\r\n\t\t<![endif]-->\n<script type=\"93dd3ab310bc2aad9a4a9924-text/javascript\">\r\n\t\t\t
        \ var _gaq = _gaq || [];\r\n\t\t\t  _gaq.push(['_setAccount', 'UA-4046749-4']);\r\n\t\t\t
        \ _gaq.push(['_trackPageview']);\r\n\r\n\t\t\t  (function() {\r\n\t\t\t    var
        ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async
        = true;\r\n\t\t\t    ga.src = ('https:' == document.location.protocol ? 'https://ssl'
        : 'http://www') + '.google-analytics.com/ga.js';\r\n\t\t\t    var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);\r\n\t\t\t  })();\r\n\t\t</script>\n</head>\n<body>\n<div
        id=\"wrapper\">\n<div id=\"header\">\n<a href=\"https://www.metal-archives.com/\"
        id=\"MA_logo\">Metal Archives</a>\n<div class=\"clear loading\"><img src=\"https://www.metal-archives.com/images/loading.gif\"
        alt=\"loading\" width=\"12\" height=\"12\" /> loading...</div>\n<div id=\"search_box\">\n<form
        id=\"search_form\" action=\"https://www.metal-archives.com/search\" method=\"get\">\n<div>\n<label>Search:</label><br
        />\n<input name=\"searchString\" type=\"text\" id=\"searchQueryBox\" size=\"25\"
        value=\"\" tabindex=\"1\" />\n<select name=\"type\" tabindex=\"2\">\n<option
        value=\"band_name\">Band name</option>\n<option value=\"band_genre\">Music
        genre</option>\n<option value=\"band_themes\">Lyrical themes</option>\n<option
        value=\"album_title\">Album title</option>\n<option value=\"song_title\">Song
        title</option>\n<option value=\"label_name\">Label</option>\n<option value=\"artist_alias\">Artist</option>\n<option
        value=\"user_name\">User profile</option>\n<option value=\"google\">Google</option>\n</select>\n<br
        />\n<a href=\"https://www.metal-archives.com/search/advanced/?searchString=&type=\"
        class=\"float_left\" tabindex=\"4\">Advanced search</a>\n<button type=\"submit\"
        class=\"btn_submit float_right\" tabindex=\"3\">Submit</button>\n</div>\n</form>\n</div>\n<div
        id=\"top_menu_box\">\n<ul class=\"menu_style_1\">\n<li><a href=\"https://www.metal-archives.com/content/help\">Help</a></li>\n<li><a
        href=\"https://www.metal-archives.com/content/rules\">Rules</a></li>\n<li><a
        href=\"https://forum.metal-archives.com\" target=\"_top\">Forum</a></li>\n</ul>\n<ul
        class=\"menu_style_2\">\n<li><a href=\"https://www.metal-archives.com/content/faq\">FAQ</a></li>\n<li><a
        href=\"https://www.metal-archives.com/content/support\">Support Us</a></li>\n<li><a
        href=\"https://www.metal-archives.com/content/tools\">Add-ons</a></li>\n</ul>\n</div>\n</div>\n<div
        id=\"left_col\">\n<div id=\"member_box\">\n <form name=\"login_form\" id=\"login_form\"
        action=\"https://www.metal-archives.com/authentication/login\" method=\"post\">\n<div>\n<label>Username</label><br
        />\n<input type=\"text\" name=\"loginUsername\" />\n<label>Password</label><br
        />\n<input type=\"password\" name=\"loginPassword\" />\n<input type=\"hidden\"
        name=\"origin\" value=\"/artist/view/id/60908\" />\n<button type=\"submit\"
        class=\"btn_login float_right\">Login</button>\n</div>\n</form>\n<a href=\"https://www.metal-archives.com/user/signup\"
        class=\"float-left writeAction\">Register</a>\n<span class=\"float_right\"><a
        href=\"https://www.metal-archives.com/user/forgot-password\" class=\"float-left
        writeAction\">Forgot login?</a> </span>\n<div class=\"clear\"> </div>\n</div>\n<div
        id=\"left_menu_box\">\n<ul class=\"menu_style_3 block_spacer_20\">\n<li>\nBands\n<ul>\n<li><a
        href=\"https://www.metal-archives.com/browse/letter\">alphabetical</a></li>\n<li><a
        href=\"https://www.metal-archives.com/browse/country\">country</a></li>\n<li><a
        href=[...]
- request:
    method: get
    uri: https://ma.cache.headbang.re/artist/read-more/id/60908/field/biography
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "Avalanch's guitarist, composer and producer since 1997 as well as a
        \ lyricist, arranger, keyboardist and sound engineer in his recording studio.<br
        />\r\nHe studied five years of classical guitar at \"Escuela de Música de
        Llanera\".<br />\r\nAlso has several national and regional awards in these
        facets (Amas, Radial, Ventolines, Heavy Rock, etc ...) <br />\r\nIs a famous
        sound engineer, producer and composer in many national projects (Avalanch,
        Stunned Parrots, Geysser, Amadeus, Trend, etc.)"
  recorded_at: Sat, 10 Apr 2021 12:27:18 GMT
- request:
    method: get
    uri: https://ma.cache.headbang.re/artist/read-more/id/60908/field/trivia
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "Producer, was owner of \"Bunker Estudios\" and head chief of <a href=\"https://www.metal-archives.com/labels/Xana_Records/2038\">Xana
        Records</a>  since 1997 to 2012 and since 2013 is the owner of <b>Sanctuarium
        Estudios</b>.<br />\r\nHe is the headmaster of DerrameRock School.<br />\r\nMany
        of the most famous jingles in Asturias (Spain) were created by him. Composer
        of the complete original music for a cultural outreach program of the 2nd
        TVE's television company, also issued weekly by the international channel
        TVE."
  recorded_at: Sat, 10 Apr 2021 12:27:18 GMT
- request:
    method: get
    uri: https://ma.cache.headbang.re/link/ajax-list/type/person/id/60908
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<script type=\"931ce986af2e05d5225ae0f5-text/javascript\">\n$(document).ready(function()
        {\n\t// Prepare the sub-tabs\n\t\t// Prepare the form popup\n\t$('#editLink').dialog({
        autoOpen: false, width: 400, height: 250, modal: true, overlay: { opacity:
        0.5, background: 'white'}, buttons: { 'Save link': function(){ $('#linkForm').submit();},
        'Cancel': function() { $('#editLink').dialog('close');} } });\n});\n\n\n</script>\n<div
        id=\"band_links\" class=\"tabs2lvl\">\n</div>\n<div class=\"ui-tabs-panel-content
        block_spacer_top_36\">\n<table id=\"linksTablemain\" class=\"display\" width=\"50%\"
        cellpadding=\"0\" cellspacing=\"0\">\n<tr id=\"header_Official\">\n<td colspan=\"2\">Official</td>\n</tr>\n<tr
        class=\"even\" id=\"linkRow436350\">\n<td><a id=\"link436350\" href=\"https://www.facebook.com/albertoriondaoficial\"
        title=\"Go to: Facebook\" target=\"_blank\">Facebook</a></td>\n</tr>\n<tr
        class=\"odd\" id=\"linkRow436761\">\n<td><a id=\"link436761\" href=\"http://www.xanarecords.com/bunker_estudios/\"
        title=\"Go to: Xana Records (Bunker Estudios)\" target=\"_blank\">Xana Records
        (Bunker Estudios)</a></td>\n</tr>\n<tr class=\"even\" id=\"linkRow436759\">\n<td><a
        id=\"link436759\" href=\"http://www.derramerockschool.com/web/?menu=1&pagina=\"
        title=\"Go to: DerrameRock School\" target=\"_blank\">DerrameRock School</a></td>\n</tr>\n</table>\n</div>\n<script
        src=\"https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js\"
        data-cf-settings=\"931ce986af2e05d5225ae0f5-|49\" defer=\"\"></script>"
  recorded_at: Sat, 10 Apr 2021 12:27:19 GMT
recorded_with: VCR 6.0.0
