## Environment
#METAL_ARCHIVES_ENV=development

## Metal Archives endpoint
#MA_ENDPOINT=https://www.metal-archives.com/
#MA_ENDPOINT_USER=my_user
#MA_ENDPOINT_PASSWORD=my_password

## WebMock
#WEBMOCK_ALLOW_HOST=metal-archives.com
