---
http_interactions:
- request:
    method: get
    uri: https://ma.cache.headbang.re/search/ajax-artist-search/?iDisplayStart=0&query=Alberto%2BR
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{ \r\n\t\"error\": \"\",\r\n\t\"iTotalRecords\": 2,\r\n\t\"iTotalDisplayRecords\":
        2,\r\n\t\"sEcho\": 0,\r\n\t\"aaData\": [\r\n\t\t\t[\r\n\t\t\t\"<a href=\\\"https://www.metal-archives.com/artists/Alberto_R./251636\\\">Alberto
        R.</a> \",\r\n\t\t\t\"Alberto R.\",\r\n\t\t\t\"Spain\",\r\n\t\t\t\"<a href=\\\"https://www.metal-archives.com/bands/Alcoh%C3%B3lica/78216\\\">Alcohólica</a>&nbsp;\"\r\n\t\t]\r\n\t\t\t\t,\r\n\t\t\t\t\t[\r\n\t\t\t\"<a
        href=\\\"https://www.metal-archives.com/artists/Al_Cisneros/6475\\\">Al Cisneros</a>
        \",\r\n\t\t\t\"Alberto R. Cisneros\",\r\n\t\t\t\"United States\",\r\n\t\t\t\"<a
        href=\\\"https://www.metal-archives.com/bands/Shrinebuilder/3540292809\\\">Shrinebuilder</a>,
        <a href=\\\"https://www.metal-archives.com/bands/Sleep/2891\\\">Sleep</a>,
        <a href=\\\"https://www.metal-archives.com/bands/Om/33472\\\">Om</a>, <a href=\\\"https://www.metal-archives.com/bands/Asbestosdeath/97829\\\">Asbestosdeath</a>,
        etc.&nbsp;\"\r\n\t\t]\r\n\t\t\t\t]\r\n}"
  recorded_at: Thu, 15 Apr 2021 21:02:05 GMT
- request:
    method: get
    uri: https://ma.cache.headbang.re/search/ajax-artist-search/?query=Alberto%2BR
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{ \r\n\t\"error\": \"\",\r\n\t\"iTotalRecords\": 2,\r\n\t\"iTotalDisplayRecords\":
        2,\r\n\t\"sEcho\": 0,\r\n\t\"aaData\": [\r\n\t\t\t[\r\n\t\t\t\"<a href=\\\"https://www.metal-archives.com/artists/Alberto_R./251636\\\">Alberto
        R.</a> \",\r\n\t\t\t\"Alberto R.\",\r\n\t\t\t\"Spain\",\r\n\t\t\t\"<a href=\\\"https://www.metal-archives.com/bands/Alcoh%C3%B3lica/78216\\\">Alcohólica</a>&nbsp;\"\r\n\t\t]\r\n\t\t\t\t,\r\n\t\t\t\t\t[\r\n\t\t\t\"<a
        href=\\\"https://www.metal-archives.com/artists/Al_Cisneros/6475\\\">Al Cisneros</a>
        \",\r\n\t\t\t\"Alberto R. Cisneros\",\r\n\t\t\t\"United States\",\r\n\t\t\t\"<a
        href=\\\"https://www.metal-archives.com/bands/Shrinebuilder/3540292809\\\">Shrinebuilder</a>,
        <a href=\\\"https://www.metal-archives.com/bands/Sleep/2891\\\">Sleep</a>,
        <a href=\\\"https://www.metal-archives.com/bands/Om/33472\\\">Om</a>, <a href=\\\"https://www.metal-archives.com/bands/Asbestosdeath/97829\\\">Asbestosdeath</a>,
        etc.&nbsp;\"\r\n\t\t]\r\n\t\t\t\t]\r\n}"
  recorded_at: Thu, 15 Apr 2021 21:02:05 GMT
recorded_with: VCR 6.0.0
