---
http_interactions:
- request:
    method: get
    uri: https://ma.cache.headbang.re/labels/id/17
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<title>AFM Records - Encyclopaedia
        Metallum: The Metal Archives</title>\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=UTF-8\" />\n<meta content=\"width=device-width, initial-scale=1\"
        name=\"viewport\" />\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/min/index.php?g=css\"
        />\n<script type=\"e68df2cb44c00fb6c84d5820-text/javascript\" src=\"/min/index.php?g=js\"></script>\n<script
        type=\"e68df2cb44c00fb6c84d5820-text/javascript\">\r\n\t\t\tvar URL_SITE\t=
        'https://www.metal-archives.com/';\r\n\t\t\tvar URL_IMAGES\t= 'https://www.metal-archives.com/images/';\r\n\t\t\tvar
        URL_CSS\t\t= 'https://www.metal-archives.com/css/';\r\n\t\t\tvar csrfToken\t=
        '';\r\n\r\n\t\t\t$(document).ready(function() {\r\n\t\t\t\ttoggleFixedPositioning(1280,
        600);\r\n\t\t\t\texecuteOnAllPages();\r\n\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t\t});\r\n\r\n\r\n\t\t</script>\n<noscript>\r\n\t\t\t<style
        type=\"text/css\">\r\n\t\t\t\t.no-js { display: block !important; }\r\n\t\t\t</style>\r\n\t\t</noscript>\n<!--[if
        lt IE 8]>\r\n\t\t\t<script src=\"http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js\"></script>\r\n\t\t\t
        <link rel=\"stylesheet\" type=\"text/css\" href=\"https://www.metal-archives.com/css/default/oldie.css\"
        />\r\n\t\t<![endif]-->\n<script type=\"e68df2cb44c00fb6c84d5820-text/javascript\">\r\n\t\t\t
        \ var _gaq = _gaq || [];\r\n\t\t\t  _gaq.push(['_setAccount', 'UA-4046749-4']);\r\n\t\t\t
        \ _gaq.push(['_trackPageview']);\r\n\r\n\t\t\t  (function() {\r\n\t\t\t    var
        ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async
        = true;\r\n\t\t\t    ga.src = ('https:' == document.location.protocol ? 'https://ssl'
        : 'http://www') + '.google-analytics.com/ga.js';\r\n\t\t\t    var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);\r\n\t\t\t  })();\r\n\t\t</script>\n</head>\n<body>\n<div
        id=\"wrapper\">\n<div id=\"header\">\n<a href=\"https://www.metal-archives.com/\"
        id=\"MA_logo\">Metal Archives</a>\n<div class=\"clear loading\"><img src=\"https://www.metal-archives.com/images/loading.gif\"
        alt=\"loading\" width=\"12\" height=\"12\" /> loading...</div>\n<div id=\"search_box\">\n<form
        id=\"search_form\" action=\"https://www.metal-archives.com/search\" method=\"get\">\n<div>\n<label>Search:</label><br
        />\n<input name=\"searchString\" type=\"text\" id=\"searchQueryBox\" size=\"25\"
        value=\"\" tabindex=\"1\" />\n<select name=\"type\" tabindex=\"2\">\n<option
        value=\"band_name\">Band name</option>\n<option value=\"band_genre\">Music
        genre</option>\n<option value=\"band_themes\">Lyrical themes</option>\n<option
        value=\"album_title\">Album title</option>\n<option value=\"song_title\">Song
        title</option>\n<option value=\"label_name\">Label</option>\n<option value=\"artist_alias\">Artist</option>\n<option
        value=\"user_name\">User profile</option>\n<option value=\"google\">Google</option>\n</select>\n<br
        />\n<a href=\"https://www.metal-archives.com/search/advanced/?searchString=&type=\"
        class=\"float_left\" tabindex=\"4\">Advanced search</a>\n<button type=\"submit\"
        class=\"btn_submit float_right\" tabindex=\"3\">Submit</button>\n</div>\n</form>\n</div>\n<div
        id=\"top_menu_box\">\n<ul class=\"menu_style_1\">\n<li><a href=\"https://www.metal-archives.com/content/help\">Help</a></li>\n<li><a
        href=\"https://www.metal-archives.com/content/rules\">Rules</a></li>\n<li><a
        href=\"https://forum.metal-archives.com\" target=\"_top\">Forum</a></li>\n</ul>\n<ul
        class=\"menu_style_2\">\n<li><a href=\"https://www.metal-archives.com/content/faq\">FAQ</a></li>\n<li><a
        href=\"https://www.metal-archives.com/content/support\">Support Us</a></li>\n<li><a
        href=\"https://www.metal-archives.com/content/tools\">Add-ons</a></li>\n</ul>\n</div>\n</div>\n<div
        id=\"left_col\">\n<div id=\"member_box\">\n <form name=\"login_form\" id=\"login_form\"
        action=\"https://www.metal-archives.com/authentication/login\" method=\"post\">\n<div>\n<label>Username</label><br
        />\n<input type=\"text\" name=\"loginUsername\" />\n<label>Password</label><br
        />\n<input type=\"password\" name=\"loginPassword\" />\n<input type=\"hidden\"
        name=\"origin\" value=\"/labels/id/17\" />\n<button type=\"submit\" class=\"btn_login
        float_right\">Login</button>\n</div>\n</form>\n<a href=\"https://www.metal-archives.com/user/signup\"
        class=\"float-left writeAction\">Register</a>\n<span class=\"float_right\"><a
        href=\"https://www.metal-archives.com/user/forgot-password\" class=\"float-left
        writeAction\">Forgot login?</a> </span>\n<div class=\"clear\"> </div>\n</div>\n<div
        id=\"left_menu_box\">\n<ul class=\"menu_style_3 block_spacer_20\">\n<li>\nBands\n<ul>\n<li><a
        href=\"https://www.metal-archives.com/browse/letter\">alphabetical</a></li>\n<li><a
        href=\"https://www.metal-archives.com/browse/country\">country</a></li>\n<li><a
        href=[...]
