---
http_interactions:
- request:
    method: get
    uri: https://ma.cache.headbang.re/band/view/id/32
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<title>Rhapsody of Fire -
        Encyclopaedia Metallum: The Metal Archives</title>\n<meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=UTF-8\" />\n<meta content=\"width=device-width,
        initial-scale=1\" name=\"viewport\" />\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"/min/index.php?g=css\" />\n<script type=\"7ae180ae15b15d09fac35fe6-text/javascript\"
        src=\"/min/index.php?g=js\"></script>\n<script type=\"7ae180ae15b15d09fac35fe6-text/javascript\">\r\n\t\t\tvar
        URL_SITE\t= 'https://www.metal-archives.com/';\r\n\t\t\tvar URL_IMAGES\t=
        'https://www.metal-archives.com/images/';\r\n\t\t\tvar URL_CSS\t\t= 'https://www.metal-archives.com/css/';\r\n\t\t\tvar
        csrfToken\t= '';\r\n\r\n\t\t\t$(document).ready(function() {\r\n\t\t\t\ttoggleFixedPositioning(1280,
        600);\r\n\t\t\t\texecuteOnAllPages();\r\n\t\t\t\t\r\n\t\t\t\t\t\t\t\t\t\t\t});\r\n\r\n\r\n\t\t</script>\n<noscript>\r\n\t\t\t<style
        type=\"text/css\">\r\n\t\t\t\t.no-js { display: block !important; }\r\n\t\t\t</style>\r\n\t\t</noscript>\n<!--[if
        lt IE 8]>\r\n\t\t\t<script src=\"http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js\"></script>\r\n\t\t\t
        <link rel=\"stylesheet\" type=\"text/css\" href=\"https://www.metal-archives.com/css/default/oldie.css\"
        />\r\n\t\t<![endif]-->\n<script type=\"7ae180ae15b15d09fac35fe6-text/javascript\">\r\n\t\t\t
        \ var _gaq = _gaq || [];\r\n\t\t\t  _gaq.push(['_setAccount', 'UA-4046749-4']);\r\n\t\t\t
        \ _gaq.push(['_trackPageview']);\r\n\r\n\t\t\t  (function() {\r\n\t\t\t    var
        ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async
        = true;\r\n\t\t\t    ga.src = ('https:' == document.location.protocol ? 'https://ssl'
        : 'http://www') + '.google-analytics.com/ga.js';\r\n\t\t\t    var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);\r\n\t\t\t  })();\r\n\t\t</script>\n</head>\n<body>\n<div
        id=\"wrapper\">\n<div id=\"header\">\n<a href=\"https://www.metal-archives.com/\"
        id=\"MA_logo\">Metal Archives</a>\n<div class=\"clear loading\"><img src=\"https://www.metal-archives.com/images/loading.gif\"
        alt=\"loading\" width=\"12\" height=\"12\" /> loading...</div>\n<div id=\"search_box\">\n<form
        id=\"search_form\" action=\"https://www.metal-archives.com/search\" method=\"get\">\n<div>\n<label>Search:</label><br
        />\n<input name=\"searchString\" type=\"text\" id=\"searchQueryBox\" size=\"25\"
        value=\"\" tabindex=\"1\" />\n<select name=\"type\" tabindex=\"2\">\n<option
        value=\"band_name\">Band name</option>\n<option value=\"band_genre\">Music
        genre</option>\n<option value=\"band_themes\">Lyrical themes</option>\n<option
        value=\"album_title\">Album title</option>\n<option value=\"song_title\">Song
        title</option>\n<option value=\"label_name\">Label</option>\n<option value=\"artist_alias\">Artist</option>\n<option
        value=\"user_name\">User profile</option>\n<option value=\"google\">Google</option>\n</select>\n<br
        />\n<a href=\"https://www.metal-archives.com/search/advanced/?searchString=&type=\"
        class=\"float_left\" tabindex=\"4\">Advanced search</a>\n<button type=\"submit\"
        class=\"btn_submit float_right\" tabindex=\"3\">Submit</button>\n</div>\n</form>\n</div>\n<div
        id=\"top_menu_box\">\n<ul class=\"menu_style_1\">\n<li><a href=\"https://www.metal-archives.com/content/help\">Help</a></li>\n<li><a
        href=\"https://www.metal-archives.com/content/rules\">Rules</a></li>\n<li><a
        href=\"https://forum.metal-archives.com\" target=\"_top\">Forum</a></li>\n</ul>\n<ul
        class=\"menu_style_2\">\n<li><a href=\"https://www.metal-archives.com/content/faq\">FAQ</a></li>\n<li><a
        href=\"https://www.metal-archives.com/content/support\">Support Us</a></li>\n<li><a
        href=\"https://www.metal-archives.com/content/tools\">Add-ons</a></li>\n</ul>\n</div>\n</div>\n<div
        id=\"left_col\">\n<div id=\"member_box\">\n <form name=\"login_form\" id=\"login_form\"
        action=\"https://www.metal-archives.com/authentication/login\" method=\"post\">\n<div>\n<label>Username</label><br
        />\n<input type=\"text\" name=\"loginUsername\" />\n<label>Password</label><br
        />\n<input type=\"password\" name=\"loginPassword\" />\n<input type=\"hidden\"
        name=\"origin\" value=\"/band/view/id/32\" />\n<button type=\"submit\" class=\"btn_login
        float_right\">Login</button>\n</div>\n</form>\n<a href=\"https://www.metal-archives.com/user/signup\"
        class=\"float-left writeAction\">Register</a>\n<span class=\"float_right\"><a
        href=\"https://www.metal-archives.com/user/forgot-password\" class=\"float-left
        writeAction\">Forgot login?</a> </span>\n<div class=\"clear\"> </div>\n</div>\n<div
        id=\"left_menu_box\">\n<ul class=\"menu_style_3 block_spacer_20\">\n<li>\nBands\n<ul>\n<li><a
        href=\"https://www.metal-archives.com/browse/letter\">alphabetical</a></li>\n<li><a
        href=\"https://www.metal-archives.com/browse/country\">country</a></li>\n<li><a
        href=[...]
- request:
    method: get
    uri: https://ma.cache.headbang.re/band/read-more/id/32
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "Not to be confused with the Genova band <b>Rhapsody</b>, who released
        a demo tape in 1987.<br />\r\n<br />\r\nFormed in 1993 as <a href=\"https://www.metal-archives.com/bands/Thundercross/36427\">Thundercross</a>,
        then changed the name to Rhapsody in 1995. They were forced to change their
        name again, this time to Rhapsody of Fire, due to copyright problems on July
        14th, 2006.<br />\r\n<br />\r\nBefore <a href=\"https://www.metal-archives.com/artists/Cristiano_Adacher/2006\">Cristiano
        Adacher</a>'s arrival, <a href=\"https://www.metal-archives.com/artists/L[...]
- request:
    method: get
    uri: https://ma.cache.headbang.re/band/ajax-recommendations/id/32?showMoreSimilar=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<script type=\"df2dd18f69d183532463f7d6-text/javascript\" src=\"https://www.metal-archives.com/js/jquery/jquery.dataTables.min.js\"></script>\n<script
        type=\"df2dd18f69d183532463f7d6-text/javascript\">\n\n// Prepare band recommendation
        dialog\n$(document).ready(function() {\n\t$(\".no-js\").removeClass(\"no-js\");\n\t$('#similarBandSelection').dialog({
        autoOpen: false, width: 600, height: 500, modal: true, overlay: { opacity:
        0.5, background: 'white'} });\n\t$('#bandSearch').ajaxForm({ target: '#bandSearchResults',
        beforeSubmit: toggleLoading, success: toggleLoading});\n});\n\n</script>\n<div
        id=\"band_simartists\">\n<div class=\"tool_strip top right writeAction\">\n</div>\n</div>\n<div
        class=\"ui-tabs-panel-content block_spacer_top_36\">\n<table id=\"artist_list\"
        class=\"display\" cellpadding=\"0\" cellspacing=\"0\">\n<thead>\n<tr>\n<th>Name</th>\n<th
        width=\"82\">Country</th>\n<th>Genre</th>\n<th>Score</th>\n</tr>\n</thead>\n<tbody>\n<tr
        id=\"recRow_3540348143\">\n<td><a href=\"https://www.metal-archives.com/bands/Luca_Turilli%27s_Rhapsody/3540348143\">Luca
        Turilli's Rhapsody</a></td>\n<td>Italy</td>\n<td>Symphonic Power Metal</td>\n<td><span
        id=\"score_3540348143\">162 </span></td>\n</tr>\n<tr id=\"recRow_388\">\n<td><a
        href=\"https://www.metal-archives.com/bands/Luca_Turilli/388\">Luca Turilli</a></td>\n<td>Italy</td>\n<td>Symphonic
        Power Metal</td>\n<td><span id=\"score_388\">155 </span></td>\n</tr>\n<tr
        id=\"recRow_[...]
- request:
    method: get
    uri: https://ma.cache.headbang.re/link/ajax-list/type/band/id/32
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<script type=\"236cdec278fd0d55f9671b3c-text/javascript\">\n$(document).ready(function()
        {\n\t// Prepare the sub-tabs\n\t $('.tabs2lvl').tabs(); \t// Prepare the form
        popup\n\t$('#editLink').dialog({ autoOpen: false, width: 400, height: 250,
        modal: true, overlay: { opacity: 0.5, background: 'white'}, buttons: { 'Save
        link': function(){ $('#linkForm').submit();}, 'Cancel': function() { $('#editLink').dialog('close');}
        } });\n});\n\n\n</script>\n<div id=\"band_links\" class=\"tabs2lvl\">\n<ul>\n<li><a
        href=\"#band_links_Official\">Official</a></li>\n<li><a href=\"#band_links_Official_merchandise\">Official
        merchandise</a></li>\n<li><a href=\"#band_links_Unofficial\">Unofficial</a></li>\n<li><a
        href=\"[...]
- request:
    method: get
    uri: https://ma.cache.headbang.re/band/discography/id/32/tab/all
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |2-
         <table width="100%" cellpadding="0" cellspacing="0" class="display discog">
        <thead>
        <tr>
        <th class="releaseCol">Name</th>
        <th c[...]
