---
http_interactions:
- request:
    method: get
    uri: https://ma.cache.headbang.re/search/ajax-artist-search/?query=Alberto%2BRionda
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{ \r\n\t\"error\": \"\",\r\n\t\"iTotalRecords\": 1,\r\n\t\"iTotalDisplayRecords\":
        1,\r\n\t\"sEcho\": 0,\r\n\t\"aaData\": [\r\n\t\t\t[\r\n\t\t\t\"<a href=\\\"https://www.metal-archives.com/artists/Alberto_Rionda/60908\\\">Alberto
        Rionda</a> \",\r\n\t\t\t\"Alberto Rionda\",\r\n\t\t\t\"Spain\",\r\n\t\t\t\"<a
        href=\\\"https://www.metal-archives.com/bands/Avalanch/5795\\\">Avalanch</a>,
        <a href=\\\"https://www.metal-archives.com/bands/N%C3%B6rthwind/4579\\\">Nörthwind</a>,
        <a href=\\\"https://www.metal-archives.com/bands/The_Stormrider/8478\\\">The
        Stormrider</a>, <a href=\\\"https://www.metal-archives.com/bands/Atalaya/43677\\\">Atalaya</a>,
        etc.&nbsp;\"\r\n\t\t]\r\n\t\t\t\t]\r\n}"
  recorded_at: Wed, 14 Apr 2021 20:26:51 GMT
- request:
    method: get
    uri: https://ma.cache.headbang.re/search/ajax-artist-search/?query=SomeNonExistantName
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{ \r\n\t\"error\": \"\",\r\n\t\"iTotalRecords\": 0,\r\n\t\"iTotalDisplayRecords\":
        0,\r\n\t\"sEcho\": 0,\r\n\t\"aaData\": [\r\n\t\t]\r\n}"
  recorded_at: Wed, 14 Apr 2021 20:26:52 GMT
recorded_with: VCR 6.0.0
